#modal-fog{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

a.button.myblue, table.elenco tr td a.button.myblue{
  background-color: #0649ad;
}
a.button.myblue.alreadysent, table.elenco tr td a.button.myblue.alreadysent{
  background-color: #009933;
}

.cth_modal{
  display: none;
  width: 80%;
  height: 80%;
  position: fixed;
  border: 1px solid #666;
  background-color: #fafafa;
  top: 10%;
  left: 10%;
  border-radius: 4px;
}

.cth_modal .inner{
  padding: 20px;
}

.cth_modal .inner h3 {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #333;
  background-color: transparent;
}

.cth_modal .inner .m-row {
  clear: both;
  padding: 6px;
}
.cth_modal .inner .m-row .m-field{}
.cth_modal .inner .m-row .m-field .inner{
  padding: 0 5px;
}
.cth_modal .inner .m-row .m-field.half{
  float: left;
  width: 50%;
}
.cth_modal .inner .m-row .m-field label{
  font-weight: normal;
  display: block;
  font-size: 14px;
}
.cth_modal .inner .m-row .m-field input{
  width: 100%;
}

.cth_modal .inner .m-row .m-field textarea.text{
  width: 100%;
  min-height: 150px;
}


.action-message{
  border-width: 3px;
  border-style: solid;
  padding: 20px;
}
.action-message.success{
  border-color: #3A9241;
  background-color: #BBFFC1;
  color: #1C771A;
}
.action-message.error{
  border-color: #923E3A;
  background-color: #FFBBC0;
  color: #771F1A;
}

#infoRequestModal .action-message{
  padding: 10px;
}

#irm-to{
  height: 40px;
  width: 100%;
}


.cth_modal .loading{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  margin: -20px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  text-align: center;
  border-radius: 3px;
  font-size: 40px;
  font-weight: bold;
}
.cth_modal .loading .inner{
  display: table-cell;
  vertical-align: middle;
}
.cth_modal .loading.active{
  display: table;
}
